/* --FIXED-COLUMN-- */
.scroll-image-bg {
	background-image: url("../img/Blog image.png");
}
/* --BLOG-- */
.blog {
	float: right;
    width: 60%;
    position: relative;
    background: #fff;
    padding: 150px 0 100px;
    z-index: 4;
}
/* --SEARCH-- */
.search-content {
	position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 70px;
    background: #191919;
    z-index: 5;
    line-height: 50px;
}
.search-inner {
	max-width: 350px;
    position: relative;
    display: block;
    padding-left: 50px;
    padding-top: 15px;
}
form {
	position: relative;
}
.search {
    border: 1px solid rgba(255,255,255,0.51);
    float: left;
    background: #292929;
    position: relative;
    outline: none;
    padding: 0px 0px 0px 10px;
    width: 100%;
    height: 40px;
    color: #fff;
}
.search-submit {
	border: none;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 2px;
    right: -10px;
    width: 28%;
    height: 40px;
    color: #FFC815;
}

/* --POST-- */
.post {
	margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
    position: relative;
}
.post h4 a {
	font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #222222;
    padding-bottom: 10px !important;
    transition: all 300ms linear;
}
.post h4 a:hover {
	color: #666;
}

/* --POST-META-- */
.post-meta {
	margin: 14px 0 14px 0;
    float: left;
}
.post-meta li {
	display: inline-block;
    margin-right: 8px;
    font-style: italic;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666;
    text-align: left;
}
.post-meta li svg {
	color: #FFC815;
}
.post-meta li a {
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* --POST-MEDIA-- */
.post-media {
	float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
}
.post-media .prev-slide, .post-media .next-slide {
	position: absolute;
	z-index: 1;
	top: 46%;
}
.prev-slide {
	left: 10px;
}
.next-slide {
	right: 10px;
}
.slider {
	width: 100%;
	position: relative;
}

/* --POST PARAGRAPH-- */
.post p {
	float: left;
    width: 100%;
    padding-bottom: 20px;
    text-align: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-family: Lato;
    text-align: justify;
}

/* --POST-LINK-- */
.post-link {
	float: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #FFC815;
    transition: all 300ms linear;
}

/* --POST-TAGS-- */
.post-tags {
	float: left;
    width: 100%;
    margin: 30px 0;
}
.post-tags li {
	margin-right: 4px;
    float: left;
}
.post-tags li a {
	float: left;
    font-size: 10px;
    text-transform: uppercase;
    padding: 8px 10px 8px;
    background: #f5f5f5;
    margin-bottom: 3px;
    color: #444;
    transition: all 300ms linear;
}
.post-tags li a:hover {
	color: #fff;
	background: #FFC815;
}

/* --IFRAME-- */
.iframe-holder {
	float: left;
    position: relative;
    width: 100%;
}
.resp-video {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.resp-video iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --PAGINATION-- */
.pagination {
	margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 4px;
    float: left;
    width: 100%;
    position: relative;
}
.pagination a {
	float: left;
    padding: 12px 18px;
    position: relative;
    font-size: 13px;
    color: #666;
    letter-spacing: 1px;
    border-right: 1px solid rgba(0,0,0,.07);
}
.pagination a:hover {
	background: #FFC815;
	color: #fff;
}
.pagination a:nth-child(3) {
	background: #FFC815;
	color: #fff;
}
/* --SUBNAV-MENU-- */
.colorblog {
    color: #FFC815;
}

/* --RESPONSIVE-- */
@media all and (max-width: 1036px) {
	/* --BLOG-- */
	.blog {
		width: 100%;
		padding: 70px 0;
	}
	/* --SEARCH-CONTENT-- */
	.search-content {
		position: relative;
    	width: 100%;
    	float: left;
    	background: none;
    	padding-left: 0;
    	top: -18px;
	}
	.search-inner {
		padding-left: 0;
	}
	.search {
		border: 1px solid #ccc;
    	background: none;
    	color: #000;
	}
}
@media all and (max-width: 756px) {
	/* --SECTION-TITLE-- */
	.section-title h2 {
		font-size: 40px;
	}
}
@media all and (max-width: 540px) {
	/* --SECTION-TITLE-- */
	.post-meta li {
		margin-bottom: 10px;
	}
}