/* --JUMBOTRON-- */
.jumbo-slider {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 4;
	overflow: hidden;
}
.jumbo-slider-content {
	width: 300%;
	height: 100vh;
	left: 0px;
	transition: 0.5s ease-in-out;
}
.jumbotron {
	background-image: url("../img/jumbotron-bg1.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 33.33%;
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	float: left;
}
.bg1 {
	background-image: url("../img/jumbotron-bg1.jpg");
}
.bg2 {
	background-image: url("../img/jumbotron-bg2.jpg");
}
.bg3 {
	background-image: url("../img/jumbotron-bg4.jpg");
	align-items: flex-start;
}
.jumbotron .overlay {
	opacity: 0.2;
	z-index: -1;
}
.title {
	width: 60%;
}
.bg2 .title {
	width: 100%;
	text-align: center;
}
.bg3 .title {
	text-align: right;
}
.title-content {
	padding-left: 20px;
	border-left: 4px solid #FFC815;
}
.bg2 .title-content {
	padding: 0;
	border: none;
}
.bg3 .title-content {
	padding-left: 0;
	border-left: none;
	padding-right: 20px;
	border-right: 4px solid #FFC815;
}
.title-content h3 {
	font-size: 94px;
	color: #ffffff;
	font-family: bebas;
	line-height: 103px;
}
.bg2 .title-content h4 {
	position: relative;
}
.title-content h4 a {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 29px;
	transition: all 200ms linear;
}
.title-content h4 a:hover {
	color: #FFC815;
}
.title-content h4:before {
	content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 4px;
    background: #FFC815;
}

/* --JUMBOTRON NAV-- */
/* --DOTS-- */
.jumbo-dots-nav {
	position: absolute;
	bottom: 50px;
	left: 0px;
	width: 40%;
	z-index: 6;
	text-align: center;
	display: flex;
	justify-content: center;
}
.jumbo-dot-nav {
	display: inline-block;
	width: 40px;
	height: 4px;
	margin-left: 3px;
	bottom: 0px;
	left: 0px;
	cursor: pointer;
	background: #ffffff82;
	transition: 0.5s ease-in-out;
}
.jumbo-dot-nav.active {
	background: #FFC815;
}

/* --NEXT-PREV-- */
.jumbo-nav .custom-nav {
	position: absolute;
	bottom: 50px;
	right: 50px;
	z-index: 5;
}

/* --ARTICLE-CONTENT-- */
.article-content {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	z-index: 2;
}

/* --SUBNAV-MENU-- */
.colorhome {
	color: #FFC815;
}
/* Section 1 - About me */
.about-content {
	display: flex;
    justify-content: flex-start;
    margin: 0px -15px;
}
.col-img{
	width: 41.66666667%;
}
.about-image {
	position: relative;
	padding: 0px 15px;
}
.col-text {
	width: 58.33333333%;
}
.about-text {
	position: relative;
	padding: 0px 15px;
	font-family: Montserrat;
}
.about-text h4 {
	width: 100%;
	position: relative;
	font-size: 14px; 
	font-weight: bold;
	color: #666;
	padding-bottom: 10px;
}
.about-text h3 {
	width: 100%;
	position: relative;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #191919;
	padding-bottom: 10px;
}
.about-text h3 span {
	color: #FFC815;
}
.about-text p {
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 10px;
	font-family: Lato;
	text-align: justify;
}
.about-btn {
	position: relative;
	margin-top: 10px;
	margin-right: 10px;
	background: #FFC815;
	color: #ffffff;
	width: auto;
	max-width: 100%;
	padding: 13px 20px;
	display: inline-block;
	overflow: hidden;
}
.about-btn svg {
	padding: 11px 20px 10px;
	left: -60px;
	position: absolute;
	color: #fff;
	top: 0;
	font-size: 21px;
	background: #414146;
	transition: all 200ms linear;
}
.about-btn span {
	font-family: Montserrat;
	font-size: 10px;
	padding: 0px 33px;
	transition: all 500ms linear;
}
.about-btn:hover span {
	padding-left: 50px;
	padding-right: 11px;
}
.about-btn:hover svg {
	left: 0px;
}

/* Facts */
#facts .container {
	flex-direction: row;
}
.facts-title {
	width: 25%;
}
.facts-title h3 {
	padding: 24px 30px;
	color: #000;
	position: relative;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: bold;
	top: 12px;
	background: #FFC815;
	text-align: center;
}
.facts-title h3:before {
	content: '';
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 0 30px;
    border-color: #00000000 #00000000 #00000000 #FFC815;
}
.facts-content {
	display: flex;
	justify-content: space-evenly;
	width: 75%;
}
.fact h6 {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 200;
}
.num {
	font-size: 82px;
	text-align: right;
	font-weight: bold;
	width: 100%;
	font-family: Montserrat;
	color: #000;
}

/* Section 2 - Resume */
.accordion-title {
	position: relative;
	margin-bottom: 10px;
	cursor: pointer;
}
.accordion-title h5 {
	margin: 0px;
}
.accordion-title a {
	display: flex;
	align-items: center;
	color: #292929;
	padding: 25px 0px;
	font-size: 18px;
	border-bottom: 1px solid #f1f1f1;
	font-family: Montserrat;
	transition: all 0.3s ease-in-out;
}
.accordion-title a:hover {
	background: #ffffff69;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}
.accordion-title a:hover span {
	color: #FFC815;
}
.accordion-title a svg {
	font-size: 24px;
	padding-right: 20px;
	color: #FFC815;
}
.accordion-title a span {
	color: #666;
	font-weight: 300;
	transition: all 0.3s ease-in-out;
}
.accordion-content {
	display: none;
	flex-direction: column;
	line-height: 1.7em;
    font-size: 13px;
    padding: 6px;
}
.accordion-content h4 {
	font-family: Montserrat;
	color: #666;
	font-size: 14px;
	padding-bottom: 10px;
}
.accordion-content ul {
	padding-left: 13px;
	margin: 10px 0;
}
.accordion-content ul li {
	float: left;
	padding-right: 30px;
	list-style: disc;
}
.accordion-content p {
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 10px;
	font-family: Lato;
	text-align: justify;
}
.accordion-content.active {
	display: flex;
}

/* Section 3 - Services */
.carousel {
	position: relative;
	width: 100%;
}
.carousel .custom-nav {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	margin-bottom: 30px;
}
.carousel-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	width: 100%;
	transition: 0.5s ease-in-out;
	overflow: hidden;
}
.carousel-box {
	display: flex;
	flex-direction: column;
	width: 33%;
	border: 1px solid #f4f4f4;
	margin-right: 20px;
	box-sizing: border-box;
	float: left;
}
.carousel-box-img-resp {
	opacity: 1;
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 20px;
}
.carousel-box-img {
	width: 100%;
	position: relative;
	z-index: 1;
}
.carousel-box-img .overlay{
	height: 99%;
	opacity: 0;
	z-index: 4;
	transition: all 0.3s ease-in-out;
}
.carousel-box-img .overlay:hover {
	opacity: 0.6;
}
.carousel-box-info {
	padding: 0 10px 20px;
	display: flex;
	flex-direction: column;
}
.carousel-box-info-title {
	font-size: 14px;
    font-family: Montserrat;
    align-self: center;
}
.carousel-box-info-text {
	font-size: 12px;
	text-align: justify;
	height: 96px;
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
    line-height: 24px;
    font-family: Lato;
}
.carousel-box-info-domain {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}
.carousel-box-info-domain li {
	padding: 10px 0;
	font-size: 12px;
}
.carousel-box-info-price {
	padding: 10px 15px;
    max-width: 150px;
    margin: 0 auto;
    font-size: 14px;
    color: #FFC815;
    font-family: Montserrat;
    border: 2px solid #8F8F8F;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
}

/* Section 4 - My skills */
.piechart {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
    width: 100%;
    position: relative;
}
.piechart-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px -15px;
}
.chart {
	position: relative;
    padding: 0px 15px 20px 15px;
    width: 25%;
    display: flex;
    justify-content: center;
}
.percent {
	position: relative;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 5px solid #EEEEEE;
    border-radius: 100%;
    margin-bottom: 26px;
}
.number {
    font-size: 21px;
    line-height: 152px;
    z-index: 2;
}
.skill-title {
	display: flex;
	justify-content: center;
    width: 100%;
    margin: 10px 0;
    font-family: Montserrat;
    color: #FFC815;
    font-size: 12px;
}
.skill-title h4 {
	font-size: 1.3em;
}
.skillbars-box {
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
}
.skillbars-box-content {
	display: flex;
	flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.skillbar {
	display: flex;
	flex-direction: column;
}
.title-percent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 12px;
}
.skillbar-title span {
    font-size: 12px;
    margin-top: 12px;
    padding-bottom: 6px;
}
.skillbar-percent {
	float: right;
    font-size: 16px;
    padding-bottom: 6px;
}
.skillbar-bg {
	position: relative;
    display: block;
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: #eee;
}
.skillbar-custom {
	background: #FFC815;
	height: 10px;
}
.l11, .l21 {
	width: 95%;
}
.l12 {
	width: 65%;
}
.l13 {
	width: 75%;
}
.l22, .l23, .l32 {
	width: 90%;
}
.l31 {
	width: 55%;
}
.l33 {
	width: 37%;
}

/* Section 5 - Clients */
.clients-slider {
    width: 100%;
    position: relative;
}
#sec5 .custom-nav a {
	position: absolute;
	background: #FFC815;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
#sec5 .custom-nav a.next-slide {
	right: 10px;
}
#sec5 .custom-nav a.prev-slide {
	left: 10px;
}
#sec5 .custom-nav a:hover {
	background: #ffffff;
	color: #292929;
}
.slider-content {
	overflow: hidden;
	float: left;
}
.slider-box {
	display: flex;
    flex-direction: row;
	max-width: 900px;
    margin-right: 0px;
    position: relative;
    padding: 0 70px;
    float: left;
}
.slider-box-img {
	float: left;
    width: 20%;
}
.slider-box-text {
	float: left;
    width: 80%;
    padding: 0 20px 20px;
    position: relative;
}
.slider-box-text h3 {
	float: left;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-size: 24px;
    color: #000;
}
.slider-box-text p {
	font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #000;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    text-align: justify;
}
.slider-box-text a {
	float: left;
    margin-top: 10px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    color: #FFC815;
}
.slider-box-text a:hover {
	color: #000;
}
.slider-box-text:before, .slider-box-text:after {
	content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.slider-box-text:before {
	width: 4px;
    height: 50px;
   	background: #FFC815;
}
.slider-box-text:after {
	width: 50px;
    height: 4px;
    margin-left: 10px;
    background: #FFC815;
}

/* --RESPONSIVE-- */
@media all and (max-width: 1235px) {
	/* --Section 3-- */
	.lastbox {
		display: none;
	}
	.carousel-content {
		justify-content: flex-start;
	}
	.carousel-box {
		width: 50%;
	}
}
@media all and (max-width: 1036px) {
	/* --JUMBOTRON-- */
	.title {
		width: 100%;
	}
	.title-content {
		border: 0;
		padding: 0;
	}
	.title-content h3 {
		width: 100%;
    	font-size: 64px;
    	text-align: center !important;
    	line-height: 70px;
	}
	.title-content h4 {
		width: 100%;
    	text-align: center !important;
    	position: relative;
	}
	.title-content h4:before {
		content: '';
    	position: absolute;
    	bottom: -20px;
    	left: 50%;
    	margin-left: -35px;
    	width: 70px;
    	height: 4px;
    	background: #FFC815;
	}
	/* --ARTICLE-- */
	.article {
		width: 100%;
		padding: 0;
	}
	.article-content {
		padding: 70px 0;
	}
}
@media all and (max-width: 991px) {
	/* --ABOUT ME-- */
	.about-content {
		flex-direction: column;
	}
	.col-img {
		margin-bottom: 40px;
    	width: 100%;
	}
	.col-text {
		width: 100%;
	}
	/* --SERVICES-- */
	.piechart-row {
		display: block;
		margin: 0;
	}
	.chart, .skillbars-box {
		width: 100%;
		padding: 0;
	}
}
@media all and (max-width: 756px) {
	/* --FACTS-- */
	#facts .container {
    	flex-direction: column;
    }
    .facts-content {
    	justify-content: flex-start;
    	width: 100%;
    	margin-top: 20px;
    }
    .fact {
    	width: 33%;
    }
    /* --SERVICES-- */
    .middlebox {
    	display: none;
    }
    .carousel-box {
		width: 100%;
	}
	/*   --CLIENTS-- */
	.slider-box {
		flex-direction: column;
	}
	.slider-box-img {
		width: 100%;
	}
	.slider-box-text {
		margin-top: 30px;
		width: 100%;
	}
}
@media all and (max-width: 540px) {
	/* --JUMBOTRON-- */
	.title-content h3 {
    	font-size: 45px;
    	line-height: 49px;
	}
	/* --ABOUT ME-- */
	h3.text-title {
		font-size: 18px;
	}
	/* --FACTS-- */
	.facts-title {
		max-width: 250px;
    	width: 100%;
	}
	.facts-title h3 {
		text-align: center;
	}
    .facts-content {
    	flex-direction: column;
    }
    .fact {
    	width: 100%;
    }
    .num, .fact h6 {
    	text-align: center;
    }
}