/* --PORTFOLIO-- */
.portfolio {
	position: relative;
	float: right;
	width: 100%;
	background: #292929;
	z-index: 3;
}
.portfolio-content {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
.navbar-scroll {
	width: 60%;
}

/* --PORTFOLIO GALLERY-- */
.portfolio-gallery {
	display: grid;
	grid-template: 1fr / 1fr;
}
.portfolio-gallery-row1 {
	display: grid;
	grid-template: 1fr/ 1fr 1fr 1fr 1fr;
}
.portfolio-gallery-row2 {
	display: grid;
	grid-template: 2fr / 1fr 1fr;
}
.portfolio-gallery-row3 {
	display: grid;
	grid-template: 2fr / 1fr 1fr;
}
.rows4 {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
}

/* --GALLERY ITEM HOVERING-- */
.portfolio-gallery-item {
	position: relative;
	overflow: hidden;
	padding: 2px 2px 0px;
}
/* --POPUP ITEM-- */
.popup-item {
	position: absolute;
    top: -250px;
    right: 50px;
    width: 30px;
    height: 30px;
    z-index: 5;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}
.popup-item svg {
	color: #FFC815;
	font-size: 14px;
}
/* --IMG ITEM-- */
.img-item {
    position: relative;
    width: 100%;
    z-index: 1;
}
.img-item .overlay {
	height: 100%;
	opacity: 0;
	z-index: 4;
	transition: all 0.3s ease-in-out;
}
.overlaymare {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	height: 100%;
	opacity: 0;
	z-index: 4;
	transition: all 0.3s ease-in-out;
}

/* --GRID ITEM-- */
.grid-item {
	position: absolute;
    bottom: -200%;
    left: 0;
    width: 73%;
    z-index: 5;
    padding-left: 70px;
    text-align: left;
    transition: all 0.4s ease-in-out;
}
.grid-item:before {
	top: -11px;
    width: 50%;
    height: 1px;
}
.grid-item:after {
	top: -14px;
    width: 50px;
    height: 3px;
}
.grid-item:before, .grid-item:after {
	content: '';
    position: absolute;
    left: 70px;
    background: #ffffff82;
}
.grid-item h3 {
	font-size: 14px;
    font-family: Montserrat;
    width: 100%;
    padding-bottom: 3px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
.grid-item h3 a {
	color: #fff;
}
.grid-item span {
	font-size: 14px;
    font-family: Montserrat;
    color: #FFC815;
}
.grid-item svg {
	color: #fff;
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 20px;
}

/* --HOVERING-- */
.portfolio-gallery-item:hover .overlay, .portfolio-gallery-item:hover .overlaymare {
	opacity: 0.6;
}
.portfolio-gallery-item:hover .popup-item {
	top: 50px;
}
.portfolio-gallery-item:hover .grid-item {
	bottom: 20px;
}
.grid-item h3 a:hover {
	color: #ccc;
}
.height-emu {
	background: #FFC815;
}

/* --SUBNAV-MENU-- */
.subsubnav2 li a.colorportfolio2 {
	color: #FFC815;
}

/* --RESPONSIVE-- */
@media all and (max-width: 1036px) {
	/* --PORTFOLIO-- */
	.portfolio {
		width: 100%;
		padding: 70px 0;
	}
	.portfolio-gallery-row1 .overlay {
		height: 98.5%;
	}
	.portfolio-gallery-row2 .overlay, .portfolio-gallery-row3 .overlay, .overlaymare {
		height: 99.5%;
	}
	/* --NAVBAR-SCROLL-- */
	.navbar-scroll {
		display: block;
		width: 100%;
		background: #292929;
	}
	.navbar-scroll ul {
		display: block;
	}
	.navbar-scroll ul li {
		float: left;
	}
}
@media all and (max-width: 756px) {
	/* --PORTFOLIO-- */
	.portfolio-gallery-row1 {
		grid-template: 1fr 1fr / 1fr 1fr;
	}
	.portfolio-gallery-row2, .portfolio-gallery-row3 {
		grid-template: 1fr 1fr / 2fr;
	}
	.portfolio-gallery-row1 .overlay {
		height: 99%;
	}
	.portfolio-gallery-row4 .overlaymare {
		height: 98.7%;
	}
}
@media all and (max-width: 540px) {
	.portfolio-gallery-row1 {
		grid-template: 1fr 1fr 1fr 1fr / 1fr;
	}
	.portfolio-gallery-row2, .portfolio-gallery-row3 {
		grid-template: 1fr / 1fr;
	}
	.rows4 {
		grid-template: 1fr 1fr 1fr 1fr / 1fr;
	}
	.portfolio-gallery-row1 .overlay {
		height: 100%;
	}
	/* --NAVBAR-SCROLL*/
	.navbar-scroll {
		height: auto;
	}
}