/* --HEADER - LOGO - NAV-BUTTON-- */
.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 10;
	width: 40%;
	height: 70px;
	background: #191919;
}
.logo {
	padding: 0px 30px;
	max-width: 200px;
	background: #FFC815;
}
.logo a {
	font-size: 30px;
	color: #ffffff;
	line-height: 70px;
	font-weight: 700;
}
.nav-button {
	position: absolute;
    right: 16px;
    top: 25px;
	width: 30px;
}
.nav-button-close {
	position: absolute;
    right: 16px;
    top: 25px;
	width: 30px;
}
.nav-button-close.active {
	z-index: 10;
}
.nav-button .line {
	width: 100%;
	height: 3px;
	background: #ffffff;
	transition: all 0.2s ease-in-out;
}
.nav-button-content:hover .line {
	background: #FFC815;
}
.nav-button-content .line.active {
	background: #FFC815;
}
.nav-button .line.active {
	background: #FFC815;
}
.nav-button .line:nth-last-child(n+2) {
	margin-bottom: 5px;
}
.nav-button:before {
	content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    width: 2px;
    height: 166%;
    background: #292929;
}

/* --CHECKBOX + NAV ANIMATION-- */
.nav-button input {
	width: 40px;
	height: 31px;
	position: absolute;
	top: -8px;
	right: -9px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}
.nav-button-close input {
	width: 40px;
	height: 31px;
	position: absolute;
	top: -8px;
	right: -9px;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}
.nav-button .line:nth-last-child(1) {
	transform-origin: 0% 100%;
}
.line1 {
	transform: rotate(45deg) translate(6px, 6px);
}
.line2 {
	opacity: 0;
}
.line3 {
	transform: rotate(-45deg) translate(2px, 6px);
}
/* --ANIMATION-- */
.nav.active {
	transform: none;
	visibility: visible;
	opacity: 1;
}

/* --NAV-MENU-- */
.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	visibility: hidden;
	position: fixed;
	width: 40%;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0;
	transition: all 0.4s ease-in-out;
	transform: perspective(200px) rotateX(-15deg) scale(0.75);
	opacity: 0;
}
.menu:before {
	content: '';
	position: absolute;
	width: 60%;
	height: 2px;
	left: 20%;
	top: 260%;
	z-index: -1;
	opacity: 0.3;
	background: #FFC815;
	transform: rotate(-45deg);
	transition: all 200ms linear;
}
.menu:hover:before {
	transform: rotate(45deg);
}
.nav .overlay {
	z-index: -1;
	opacity: 0.8;
}
.nav-decor {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 0;
}
.nav-decor:before, .nav-decor:after {
	content: '';
	position: absolute;
	background: #ffffff82;
}
.nav-decor-top {
	top: 100px;
	left: 50px;
}
.nav-decor-top:before {
	height: 2px;
	width: 50px;
	left: 2px;
}
.nav-decor-top:after {
	height: 50px;
	width: 2px;
}
.nav-decor-bot {
	bottom: 50px;
	right: 50px;
}
.nav-decor-bot:before {
	height: 2px;
	width: 50px;
	right: 2px;
	bottom: 0px;
}
.nav-decor-bot:after {
	height: 50px;
	width: 2px;
	right: 0px;
}
.nav nav {
	width: 100%;
	display: flex;
	justify-content: center;
}
nav ul {
	width: 100%;
	text-align: center;
}
nav ul li {
	padding: 5px 0px;
	transition: all 200ms linear;
}
nav .menu .hover:hover {
	background: #ffffff82;
}
nav ul li a {
	color: #ffffff;
	font-size: 24px;
	line-height: 29px;
	position: relative;
}

/* --SUBNAV-MENU-- */
.subnav a .subnav-icon, .subnav2 a .subnav-icon {
	position: absolute;
	bottom: 6px;
	color: #ffffff;
	right: -100%;
	font-size: 12px;
	transition: all 200ms linear;
}
.subsubnav li a, .subsubnav2 li a {
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	position: relative;
}
.subnav:hover a>svg.subnav-icon, .subnav2:hover a>svg.subnav-icon {
	transform: rotate(90deg);
	color: #FFC815;
}
.subsubnav {
	opacity: 0;
	position: absolute;
	z-index: -2;
	transition: all 200ms linear;
}
.subsubnav2 {
	opacity: 0;
	position: absolute;
	z-index: -2;
	transition: all ease-in 200ms;
}
.moveDown {
	position: absolute;
	transition: all 300ms linear;
	transform: translate(0px,0px);
}
.moveDown2 {
	position: absolute;
	transition: all 300ms linear;
	transform: translate(0px,0px);
}
.subsubnav.active, .subsubnav2.active {
	opacity: 1;
	z-index: -1;
}
.moveDown.active {
	transform: translate(0px,140px);
}
.moveDown2.active {
	transform: translate(0px,80px);
}

/* --FIXED COLUMN-- */
.fixed-column {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 40%;
	height: 100%;
	z-index: 3;
	opacity: 1;
}
.fixed-column-content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.fixed-column-content:before {
	content: '';
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: 10px;
	height: 70%;
	background: #ffffff82;
	z-index: 2;
}
.fixed-column-content:after {
	content: '';
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: 70%;
	height: 10px;
	margin-left: 10px;
	background: #ffffff82;
	z-index: 2;
}
.scroll-image-bg {
	background-image: url("../img/Section1 Photo 2.png");
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	transition: all 300ms linear;
}
.fixed-column .overlay {
	opacity: 0.3;
}
.fixed-column-title {
	position: absolute;
	bottom: 90px;
	left: 90px;
	font-family: Raleway;
	font-size: 60px;
	text-align: left;
	text-transform: uppercase;
}
.fixed-column-title:before {
	content: '';
	position: absolute;
	bottom: -9px;
	left: 0px;
	width: 100%;
	height: 4px;
	background: #FFC815;
}
.fixed-column-title span {
	float: left;
	line-height: 55px;
	max-width: 250px;
	color: #ffffffe8;
	font-weight: bold;
}

/* --ARTICLE-- */
.article {
	position: relative;
	float: right;
	width: 60%;
	background: #ffffff;
	padding: 0px 0px 100px;
	z-index: 4;
	opacity: 1;
}
/* --NAVBAR-SCROLL-- */
.navbar-scroll {
	position: sticky;
	top: 0px;
	z-index: 1000;
	width: 100%;
	float: right;
	line-height: 70px;
	background: #191919;
	height: 70px;
}
.navbar-scroll-content {
	margin-left: 10px;
}
.navbar-scroll-content ul {
	display: flex;
	flex-direction: row;
}
.navbar-scroll-content ul li a {
	background: #292929;
	padding: 15px 24px;
	color: #ffffff;
	position: relative;
	font-family: Raleway;
	font-size: 12px;
}
.navbar-scroll-content ul li a.active {
	background: #FFC815;
	color: #000000;
}
.navbar-scroll-content ul li a.active:hover {
	color: #ffffff;
}
.navbar-scroll-content ul li a:hover {
	color: #FFC815;
}


/* --FOOTER-- */
footer>.container {
	margin: 0 auto;
}
.footer-columns {
	display: flex;
	margin: 0 -15px;
}
.footer-column {
	width: 33%;
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-info {
	display: flex;
	flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}
.footer-info h4 {
    width: 100%;
    color: #fff;
    position: relative;
    font-size: 16px;
    font-family: Montserrat;
    margin-bottom: 45px;
    text-transform: uppercase;
}
.footer-info h4:before {
	content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #FFC815;
}
.footer-column-social ul {
	display: flex;
}
.footer-column-social li {
	padding: 4px;
}
.footer-column-social li a {
	width: 40px;
    height: 40px;
    float: left;
    border-radius: 100%;
    line-height: 40px;
    color: #191919;
    font-size: 18px;
    background: #FFC815;
    position: relative;
    text-align: center;
}
.footer-column-social li a svg {
	transition: all 300ms linear;
}
.footer-column-social li a:hover svg {
	opacity: 0.5;
}
.footer-contacts li {
    width: 100%;
    margin-bottom: 10px;
}
.footer-contacts li a {
	color: #707070;
    font-size: 12px;
    font-family: Montserrat;
    text-transform: uppercase;
    transition: all 300ms linear;
}
.footer-contacts li a:hover {
	opacity: 0.4;
}
.footer-contacts li a svg {
	color: #FFC815;
	padding-right: 10px;
}
.twitter-carousel {
    width: 100%;
    position: relative;
}
.twitts li {
	color: #707070;
    font-size: 10px;
    font-family: Montserrat;
    line-height: 17px;
}
.twitts span {
	color: #FFC815;
}
.footer-custom-nav {
	padding-top: 10px;
    float: left;
}
.footer-custom-nav a {
	color: #fff;
    cursor: pointer;
    font-size: 19px;
    margin-right: 6px;
    transition: all 300ms linear;
}
.footer-custom-nav a:hover {
	opacity: 0.4;
}
.rights {
	float: left;
    width: 100%;
    background: #000;
    position: relative;
    margin-top: 30px;
}
.rights .container {
	display: block;
	margin: 0 auto;
}
.rights p {
	color: #fff;
    position: relative;
    top: 45px;
    font-size: 10px;
    font-family: Montserrat;
    text-transform: uppercase;
    padding-left: 20px;
    line-height: 24px;
    padding-bottom: 10px;
    text-align: left;
}
.rights p:before, .rights p:after {
	content: '';
    position: absolute;
    top: -15px;
    left: 0px;
    z-index: 2;
    background: #FFC815;
}
.rights p:before {
	width: 2px;
    height: 50px;
}
.rights p:after {
	width: 50px;
    height: 2px;
}
.to-top a {
	cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 70px;
    float: right;
    font-size: 20px;
    color: #fff;
    line-height: 70px;
    background: #FFC815;
    text-align: center;
}
.to-top svg {
	transition: all 300ms linear;
}
.to-top:hover svg {
	opacity: 0.4;
}

/* --RESPONSIVE-- */
@media all and (max-width: 1036px) {
	/* --HEADER-- */
	.header {
		width: 100%;
	}
	/* --NAV-MENU-- */
	.nav {
		width: 100%;
	}
	/* --FIX-COL-- */
	.fixed-column {
		display: none;
	}
	/* --NAV-BAR-SCROLL-- */
	.navbar-scroll {
		display: none;
	}
	/* --FOOTER-- */
	.height-emu {
		display: none;
	}
	footer {
		position: relative;
		padding: 90px 0 0;
		width: 100%;
		float: left;
	}
	.footer-columns {
		margin: 0;
	}
}
@media all and (max-width: 991px) {
	/* --FOOTER-- */
	.footer-columns {
		flex-direction: column;
	}
	.footer-column {
		width: 99%;
		padding-right: 0;
	}
}